@use "../variables" as *;
.hero {
  color: $light;
  padding: 200px 0 245px;
  background: $purple;
  background-image: url("/img/bg-dog.png"), url("/img/pattern.svg");
  background-size: contain, cover;
  background-position: right, center;
  background-repeat: no-repeat;

  &__title {
    max-width: 820px;
    margin-bottom: 50px;
  }

  &__text {
    max-width: 420px;
  }
}
